{% trans_default_domain "messages" %}

<!-- Main row -->
<div class="row">
    <section class="col-lg-10">

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{{ 'NAVI.PROFILE'|trans }}</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-user-information">
                    <tbody>
                    <tr>
                        <td>{{ 'FORM.NAME'|trans }}</td>
                        <td>{{ user.name }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'FORM.SURNAME'|trans }}</td>
                        <td>{{ user.surname }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'FORM.USERNAME'|trans }}</td>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'FORM.EMAIL'|trans }}</td>
                        <td>{{ user.email }}</td>
                    </tr>

                    </tbody>
                </table>
                <div>
                <a class="btn btn-primary" href="{{ path('fos_user_change_password') }}">{{ 'BUTTON.CHANGE_PASS'|trans }}</a>
                </div>
                {#
                /profile/change-password
                #}

            </div>
    </section>
</div>
<!-- /.row (main row) -->
