{% trans_default_domain "messages" %}
<!-- Main row -->
<div class="row">
    <section class="col-lg-12">

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">
                    {{ student.name }}
                    {{ student.surname }}
                </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-user-information">
            <tbody>
            <tr>
                <td>{{ 'FORM.NAME'|trans }}  {{ 'FORM.SURNAME'|trans }}</td>
                <td>{{ student.name }}
                {{ student.surname }}</td>
            </tr>
            <tr>
                <td>{{ 'FORM.EMAIL'|trans }}</td>
                <td>{{ student.email }}</td>
            </tr>
            <tr>
                <td>{{ 'FORM.PHONE'|trans }}</td>
                <td>{{ student.telnumeris }}</td>
            </tr>
            <tr>
                <td>{{ 'FORM.BIRTH'|trans }}</td>
                <td>{{ student.gimdata|date("Y-m-d") }}</td>
            </tr>
            <tr>
                <td>{{ 'FORM.USER.ASMK'|trans }}</td>
                <td>{{ student.asmkodas }}</td>
            </tr>
            <tr>
                <td>{{ 'FORM.USER.KLASE'|trans }}</td>
                <td>{{ student.klase }}</td>
            </tr>
            <tr>
                <td>{{ 'FORM.USER.SCHOOL'|trans }}</td>
                <td>{{ student.mokykla }}</td>
            </tr>
            <tr>
                <td>{{ 'FORM.USER.TEVTELEF'|trans }}</td>
                <td>{{ student.tevtelef }}</td>
            </tr>
            <tr>
                <td>{{ 'FORM.ADDITIONAL'|trans }}
                    {{ 'FORM.OR'|trans }}
                    {{ 'FORM.USER.PARENTINFO'|trans }}
                </td>
                <td>{{ student.tevuinfo }}</td>
            </tr>
            <tr>
                <td>{{ 'FORM.USER.BAIGIMONR'|trans }}</td>
                <td>{{ student.baigimonr }}</td>
            </tr>
            </tbody>
                </table>

            </div>
            <div class="box-footer">
                <a class="delBtn btn btn-warning">
                    <span>{{ 'BUTTON.DELETE'|trans }}</span>
                </a>
                <a class="yesBtn btn btn-success"
                   href="{{ path('student_delete', {student: student.id}) }}">
                    {{ 'BUTTON.YES'|trans }}
                </a>
                <a class="noBtn btn btn-danger">
                    {{ 'BUTTON.NO'|trans }}
                </a>
                <a class="btn btn-warning"
                   href="{{ path('student_edit', {student: student.id}) }}">
                    {{ 'BUTTON.EDIT'|trans }}
                </a>
            </div>
        </div>
    </section>
</div>
<!-- /.row (main row) -->
