{% trans_default_domain "messages" %}
<header class="main-header">
    <!-- Logo -->
    <a href="{{ path('homepage') }}" class="logo">
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Admin</b>Sistema</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">


        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">


                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="hidden-xs">
                            <span class="glyphicon glyphicon-user"></span>
                            <span>
                            {{ app.user.name }}
                                    {{ app.user.surname }}
                            |
                                    {{ app.user.username }}
                            </span>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">

                            <p>
                                {{ app.user.name }}

                                {{ app.user.surname }}
                                <br>
                                <small>
                                {%  if 'ROLE_ADMIN' in app.user.roles %}
                                    {{ 'APP.ADMIN'|trans }}
                                {% else %}
                                    {{ 'APP.USER'|trans }}
                                {% endif %}
                                </small>
                            </p>

                        </li>

                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="{{ path('fos_user_profile_show') }}" class="btn btn-default btn-flat">{{ 'APP.PROFILE'|trans }}</a>
                            </div>
                            <div class="pull-right">
                                <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-flat">{{ 'APP.LOGOUT'|trans }}</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            {% endif %}
        </div>
    </nav>
</header>





<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">{{ 'NAVI.MAIN_NAVI'|trans }}</li>

            <li>
                <a href="{{ path('programa_index') }}">
                    <i class="fa fa-list"></i>
                    <span>{{ 'NAVI.PROGRAMA'|trans }}</span>
                </a>
            </li>
            <li>
                <a href="{{ path('user_index') }}">
                    <i class="fa fa-users"></i>
                    <span>{{ 'NAVI.USER'|trans }}</span>
                </a>
            </li>
            <li>
                <a href="{{ path('teacher_index') }}">
                    <i class="fa fa-user"></i>
                    <span>{{ 'NAVI.TEACHER'|trans }}</span>
                </a>
            </li>
            <li>
                <a href="{{ path('student_index') }}">
                    <i class="fa fa-graduation-cap "></i>
                    <span>{{ 'NAVI.STUDENT'|trans }}</span>
                </a>
            </li>
            <li>
                <a href="{{ path('calendar') }}">
                    <i class="fa fa-calendar"></i>
                    <span>{{ 'NAVI.CALENDAR'|trans }}</span>
                </a>
            </li>



           <!-- <li class="header">headerrr</li> -->
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>