{% trans_default_domain "messages" %}
<style>
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        color: black;
    }
</style>

<div class="box-body">

    <div class="row">
        {{ form_start(form) }}
        <div class="col-md-6">
                <div class="form-group">
            {{ form_row(form.pavadinimas, { 'label' : 'FORM.PROGRAMA.NAME'|trans}) }}
                </div>
                <div class="form-group">
            {{ form_row(form.aprasymas, { 'label' : 'FORM.PROGRAMA.DESC'|trans}) }}
                </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
            {{ form_row(form.teacher, { 'label' : 'FORM.PROGRAMA.TEACHER'|trans}) }}
                </div>
                <div class="form-group">
            {{ form_row(form.student, { 'label' : 'FORM.PROGRAMA.STUDENT'|trans}) }}
                </div>
            <div class="form-group">
                {{ edit ?
                form_row(form.save, { 'label' : 'FORM.EDIT'|trans})
                :
                form_row(form.save, { 'label' : 'FORM.ADD'|trans})
                }}
                </div>
        {{ form_end(form) }}
        </div>
    </div>
</div>
