{% extends 'admin/base.html.twig' %}
{#
#}
{% block css %}
    <link rel="stylesheet" href="{{ asset('plugins/datatables/dataTables.bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('plugins/datatables/jquery.dataTables.css') }}">
{% endblock %}

{% block content %}


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Dashboard
                <small>Control panel</small>
            </h1>

            {# Top right bradcrumb navigation #}
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Main row -->
            <div class="row">
                <!-- Left col -->
                <section class="col-xs-12">

                    <section class="content">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box">
                                    <div class="box-header">
                                        <h3 class="box-title">Hover Data Table</h3>
                                        <h3><a href="{{ path('programa_add') }}">prideti programa</a></h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <table id="programos" class="table table-bordered table-hover">
                                            <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Pavadinimas</th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for programa in programa %}
                                                <tr data-href="{{ path("programa_show", {programa: programa.id}) }}">
                                                    <td>{{ programa.id|e }}</td>
                                                    <td>{{ programa.pavadinimas }}</a></td>
                                                    <td><a class="btn btn-danger" href="{{ path("programa_delete", {programa : programa.id}) }}">delete</a></td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <th>Id</th>
                                                <th>Pavadinimas</th>

                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->

                    </section>
                    <!-- right col -->
            </div>
            <!-- /.row (main row) -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

{% endblock %}


{% block javascript %}

    <script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
<script>
        $(function () {
            $('#programos').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
            });
        });
    </script>

    <script>
        $('tr[data-href]').on("click", function() {
            document.location = $(this).data('href');
        });
    </script>

{% endblock %}


