{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
{{ include('includes.html.twig') }}

    <h1>{{ programa.pavadinimas }}</h1>
    <h3>{{ programa.aprasymas }}</h3>

    {% for user in programa.users %}
<table class="table table-striped table-hover">
<thead>
    <th>{{ 'profile.show.name'|trans }}</th>
    <th>{{ 'profile.show.surname'|trans }}</th>
    <th>{{ 'profile.show.username'|trans }}</th>
    <th>{{ 'profile.show.email'|trans }}</th>
</thead>
<tbody>

        <tr>
            <td>{{ user.name|e }}</td>
            <td>{{ user.surname|e }}</td>
            <td>{{ user.username|e }}</td>
            <td>{{ user.email|e }}</td>
            <td> <a class="btn btn-danger" href="{{ path('admin_delete', {user: user.id}) }}">Istrinti</a></td>
        </tr>
</tbody>
        </table>

    {% endfor %}

{% endblock %}