    <style>
        #calendar {
            z-index: 2;
        }
        #loading {
            z-index: 1;
            position: absolute;
        }
    </style>


    <head>



    </head>

            <div class="row">
                <section class="col-lg-12">
                            <div class="box box-primary">
                                <div class="box-body no-padding">
                                    <!-- THE CALENDAR -->
                                    <div id="calendar"></div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /. box -->
                        </div>
                        <!-- /.col -->


                </section>
        <!-- /.content -->
            </div>
        <!-- /.content-wrapper -->

    {#

    <!-- jQuery 2.2.3 -->
    <script src="{{ asset('plugins/jQuery/jquery-2.2.3.min.js') }}"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <!-- Slimscroll -->
    <script src="{{ asset('plugins/slimScroll/jquery.slimscroll.min.js') }}"></script>
    <!-- FastClick -->
    <script src="{{ asset('plugins/fastclick/fastclick.js') }}"></script>
    <!-- AdminLTE App -->
    <script src="{{ asset('dist/js/app.min.js') }}"></script>
    <!-- fullCalendar 2.2.5 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script src="{{ asset('plugins/fullcalendar/fullcalendar.min.js') }}"></script>
    #}

    <script>
        $(document).ready(function() {

            /* initialize the external events
             -----------------------------------------------------------------*/

            $('#external-events .fc-event').each(function() {

                // store data so the calendar knows to render an event upon drop
                $(this).data('event', {
                    title: $.trim($(this).text()), // use the element's text as the event title
                    stick: true // maintain when user navigates (see docs on the renderEvent method)
                });

                // make the event draggable using jQuery UI
                $(this).draggable({
                    zIndex: 999,
                    revert: true,      // will cause the event to go back to its
                    revertDuration: 0  //  original position after the drag
                });

            });

            /* initialize the calendar
             -----------------------------------------------------------------*/
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay,listWeek'
                },
                editable: true, //
                navLinks: true, // can click day/week names to navigate views
                eventLimit: true, // allow "more" link when too many events
                droppable: true, // this allows things to be dropped onto the calendar
                events: {
                    url: '{{ path('json') }}',
                    error: function() {
                        // $('#script-warning').show();
                    }
                },

                //dropinimo funkcija

                drop: function() {

                    // is the "remove after drop" checkbox checked?
                    if ($('#drop-remove').is(':checked')) {
                        // if so, remove the element from the "Draggable Events" list
                        $(this).remove();
                    }
                },
                /*
                 neveikia!!!1
                 */
                eventReceive: function(event) {

                    $.ajax({
                        url: '{{ path('calendar_drop') }}',
                        type: "POST",
                        data:{
                            title : "event title" ,
                            start : "2017-02-12T00:00:00+01:00",
                            end: "2017-02-13T00:00:00+01:00"
                        },
                        contentType: "application/json; charset=utf-8",
                        dataType: 'json'
                    });

                },

                loading: function(bool) {
                    $('#loading').toggle(bool);
                },

                eventDrop: function(event, delta, revertFunc) {

                    $.ajax({
                        url: '{{ path('calendar_update') }}',
                        type: "POST",
                        data: JSON.stringify({
                            id: event.id,
                            start: event.start.format(),
                            end: event.end.format()
                        }),
                        contentType: "application/json; charset=utf-8",
                        dataType: 'json'
                    });

                },

            });
            // $('.fc-event').data('event', { "title":"draggable event title", "end": "09:00"});
        });



    </script>
