<!-- Main row -->
<div class="row">
    <section class="col-lg-12">

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{{ programa.pavadinimas }}</h3>
                <h3 class="pull-right box-title">
                    {{ 'TEACHER.NAME'|trans }}:  {{ programa.teacher.name }} {{ programa.teacher.surname }}
                </h3>
                <p>{{ programa.aprasymas }}</p>


                <div class="pull-right">
                <td class="button-cell">
                    <a class="delBtn btn btn-warning">
                        <span>{{ 'BUTTON.DELETE'|trans }}</span>
                    </a>
                    <a class="yesBtn btn btn-success"
                       href="{{ path("programa_delete", {programa : programa.id}) }}">
                        {{ 'BUTTON.YES'|trans }}
                    </a>
                    <a class="noBtn btn btn-danger">
                        {{ 'BUTTON.NO'|trans }}
                    </a>
                </td>
                <td>
                    <a class="btn btn-warning"
                       href="{{ path("programa_edit", {programa: programa.id}) }}">
                        {{ 'BUTTON.EDIT'|trans }}
                    </a>
                </td>
                </div>

                <div>

                </div>
                <br>
<hr>
                <h3>{{ 'NAVI.STUDENT'|trans }}</h3>

            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="table" class="table table-bordered table-hover table-responsive">
                    <thead>
                    <th>{{ 'PROGRAMA.STUDENT.NAME'|trans }}</th>
                    <th>{{ 'PROGRAMA.STUDENT.SURNAME'|trans }}</th>
                    </thead>
                    <tbody>
                    {% for student in programa.student %}
                        <tr data-href="{{ path('student_info', {student: student.id}) }}">
                            <td>{{ student.name|e }}</td>
                            <td>{{ student.surname|e }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <th>{{ 'PROGRAMA.STUDENT.NAME'|trans }}</th>
                    <th>{{ 'PROGRAMA.STUDENT.SURNAME'|trans }}</th>
                    </tfoot>
                </table>


                    <div class="page-header">
                        <h1><small>{{ 'PROGRAMA.EVENTS'|trans }}</small></h1>
                    </div>
<ul>
                {% for calendar in programa.events %}
   <li>

                    <div>


{% if calendar.start|date('Y:m:d') == calendar.end|date('Y:m:d') %}
    <h5>
    {{ calendar.start | date('Y-m-d H:m') }}
    -
    {{ calendar.end | date('H:m') }}
    </h5>
    {% else %}
                    <h5>
                        {{ calendar.start | date('Y:m:d H:m') }}
                        {{ calendar.end | date('Y:m:d H:m') }}
                    </h5>

{% endif %}

                    </div>
   </li>
                {% endfor %}
</ul>

            </div>
    </section>
</div>
<!-- /.row (main row) -->
