{% trans_default_domain "messages" %}

<!-- Main row -->
<div class="row">
    <section class="col-lg-12">

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{{ user.name }}  {{ user.surname }}</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">

                <table class="table table-responsive">
                    <tbody>
                    <tr>
                        <td>{{ 'FORM.NAME'|trans }}</td>
                        <td>{{ user.name }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'FORM.SURNAME'|trans }}</td>
                        <td>{{ user.surname }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'FORM.USERNAME'|trans }}</td>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'FORM.EMAIL'|trans }}</td>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'FORM.LASTLOGIN'|trans }}</td>
                        <td>{{ user.lastLogin is empty ? "" : user.lastLogin|date("Y-m-d H:m") }}</td>
                    </tr>
                    </tbody>
                </table>
            <div class="panel-footer">
                <td> <a class="delBtn btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                        {{ 'BUTTON.DELETE'|trans }}
                    </a>
                    <a class="yesBtn btn btn-success"
                       href="{{ path('admin_delete', {user: user.id}) }}">
                        {{ 'BUTTON.YES'|trans }}
                    </a>
                    <a class="noBtn btn btn-danger">
                        {{ 'BUTTON.NO'|trans }}
                    </a>
                    <a href="{{ path('user_edit', {user: user.id}) }}" class="btn btn-warning">
                        {{ 'BUTTON.EDIT'|trans }}
                    </a>
                </td>

            </div>

            </div>
    </section>
</div>
<!-- /.row (main row) -->
