

<!-- Main row -->
<div class="row">
    <section class="col-lg-12">

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Vartotojai</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="table" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>{{ 'profile.show.name'|trans({}, 'FOSUserBundle') }}</th>
                        <th>{{ 'profile.show.surname'|trans({}, 'FOSUserBundle') }}</th>
                        <th>{{ 'form.username'|trans({}, 'FOSUserBundle') }}</th>
                        <th>{{ 'form.email'|trans({}, 'FOSUserBundle') }}</th>
                        <th>Enabled</th>
                        <th>{{ 'profile.show.lastlogin'|trans({}, 'FOSUserBundle') }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr data-href="{{ path("user_info", {user: user.id}) }}">
                            <td>{{ user.name|e }}</td>
                            <td>{{ user.surname|e }}</td>
                            <td>{{ user.username|e }}</td>
                            <td>{{ user.email|e }}</td>
                            <td>{{ user.enabled ? "YES" : "NO"}}</td>
                            <td>{{ user.lastLogin is empty ? "" : user.lastLogin|date("Y-m-d H:m") }}</td>
                            <td class="button-cell">
                                <a class="delBtn btn btn-warning" >
                                    <span class="glyphicon glyphicon-remove"></span>
                                    Istrinti
                                </a>
                                <a class="yesBtn btn btn-success"
                                   href="{{ path('admin_delete', {user: user.id}) }}">
                                    Taip
                                </a>
                                <a class="noBtn btn btn-danger">Ne</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>{{ 'profile.show.name'|trans({}, 'FOSUserBundle') }}</th>
                        <th>{{ 'profile.show.surname'|trans({}, 'FOSUserBundle') }}</th>
                        <th>{{ 'form.username'|trans({}, 'FOSUserBundle') }}</th>
                        <th>{{ 'form.email'|trans({}, 'FOSUserBundle') }}</th>
                        <th>Enabled</th>
                        <th>{{ 'profile.show.lastlogin'|trans({}, 'FOSUserBundle') }}</th>
                        <th></th>
                    </tr>
                    </tfoot>
                </table>

        </div>
    </section>
</div>
<!-- /.row (main row) -->
