

<!-- Main row -->
<div class="row">
    <section class="col-lg-12">

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{{ 'NAVI.USER'|trans }}</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="table" class="table table-bordered table-hover table-responsive">
                    <thead>
                    <tr>
                        <th>{{ 'FORM.NAME'|trans}}</th>
                        <th>{{ 'FORM.SURNAME'|trans}}</th>
                        <th>{{ 'FORM.USERNAME'|trans}}</th>
                        <th>{{ 'FORM.EMAIL'|trans}}</th>
                        <th>{{ 'FORM.LASTLOGIN'|trans}}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr data-href="{{ path("user_info", {user: user.id}) }}">
                            <td>{{ user.name|e }}</td>
                            <td>{{ user.surname|e }}</td>
                            <td>{{ user.username|e }}</td>
                            <td>{{ user.email|e }}</td>
                            <td>{{ user.lastLogin is empty ? "" : user.lastLogin|date("Y-m-d H:m") }}</td>
                            <td class="button-cell">
                                <a class="delBtn btn btn-warning" >
                                    <span class="glyphicon glyphicon-remove"></span>
                                    {{ 'BUTTON.DELETE'|trans }}
                                </a>
                                <a class="yesBtn btn btn-success"
                                   href="{{ path('admin_delete', {user: user.id}) }}">
                                    {{ 'BUTTON.YES'|trans }}
                                </a>
                                <a class="noBtn btn btn-danger">
                                    {{ 'BUTTON.NO'|trans }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>{{ 'FORM.NAME'|trans}}</th>
                        <th>{{ 'FORM.SURNAME'|trans}}</th>
                        <th>{{ 'FORM.USERNAME'|trans}}</th>
                        <th>{{ 'FORM.EMAIL'|trans}}</th>
                        <th>{{ 'FORM.LASTLOGIN'|trans}}</th>
                        <th></th>
                    </tr>
                    </tfoot>
                </table>



        </div>
    </section>
</div>
<!-- /.row (main row) -->
