{% extends 'admin/base.html.twig' %}
{#
#}
{% block css %}
    {#   dfadfa fs fasdf #}
{% endblock %}

{% block content %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Dashboard
                <small>Control panel</small>
            </h1>

            {# Top right bradcrumb navigation #}
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Main row -->
            <div class="row">
                <!-- Left col -->
                <section class="col-xs-12">
                    <section class="content">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box">
                                    <div class="box-header">
                                        <h3 class="box-title">Hover Data Table</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                            <table id="vartotojai" class="table table-bordered table-hover">
                    <thead>
                            <tr>
                                <th>{{ 'profile.show.name'|trans({}, 'FOSUserBundle') }}</th>
                                <th>{{ 'profile.show.surname'|trans({}, 'FOSUserBundle') }}</th>
                                <th>{{ 'form.username'|trans({}, 'FOSUserBundle') }}</th>
                                <th>{{ 'form.email'|trans({}, 'FOSUserBundle') }}</th>
                                <th>{{ 'profile.show.lastlogin'|trans({}, 'FOSUserBundle') }}</th>

                            </tr>
                            </thead>
                            <tbody>

                            {% for user in users %}
                                <tr data-href="{{ path("user_info", {user: user.id}) }}">
                                    <td>{{ user.name|e }}</td>
                                    <td>{{ user.surname|e }}</td>
                                    <td>{{ user.username|e }}</td>
                                    <td>{{ user.email|e }}</td>
                                    <td>{{ user.lastLogin is empty ? "" : user.lastLogin|date("Y-m-d H:m") }}</td>
                                    <td> <a class="btn btn-danger" href="{{ path('admin_delete', {user: user.id}) }}">
                                            <span class="glyphicon glyphicon-remove"></span>
                                            Istrinti
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                                <tfoot>
                                <tr>
                                    <th>{{ 'profile.show.name'|trans({}, 'FOSUserBundle') }}</th>
                                    <th>{{ 'profile.show.surname'|trans({}, 'FOSUserBundle') }}</th>
                                    <th>{{ 'form.username'|trans({}, 'FOSUserBundle') }}</th>
                                    <th>{{ 'form.email'|trans({}, 'FOSUserBundle') }}</th>
                                    <th>{{ 'profile.show.lastlogin'|trans({}, 'FOSUserBundle') }}</th>

                                </tr>
                                </tfoot>
                        </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                </section>
                <!-- right col -->
            </div>
            <!-- /.row (main row) -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->




{% endblock %}


{% block javascript %}
{#
    <script>
    $(document).ready(function(){
        $("#vartotojai").hide();
        $("#vartotojai").fadeIn(2000);
    });
</script>
#}

    <script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables/dataTables.bootstrap.min.js') }}"></script>

    <script>
        $('tr[data-href]').on("click", function() {
            document.location = $(this).data('href');
        });

        $(function () {
            $('#vartotojai').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
            });
        });
    </script>

{% endblock %}

